html,
body {
    margin: 0;
    padding: 0
}

body {
    padding: 15px;
    background-color: #eeeeee
}

.layui-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#form-add,
#form-change {
    padding: 20px 30px 20px 0
}